        <div id="popup-wrapper-news" style="background-color: #ccc;height: 450px;overflow-y: auto">
            <table width="100%" class="display" id="newsList" cellspacing="0">
                <thead>

                    <tr>
                        <th>Date Posted</th>
                        <th>Type</th>
                        <th>Announcement</th>
                    </tr>

                </thead>
                <tbody>

                    <tr style="color: red;font-weight: bold">
                        <td>5/29/2015</td>

                        <td>News</td>

                        <td><p>Lorem ipsum dolor sit amet, ei sea dolore signiferumque. </p>
                            <p>Vim in numquam volutpat, mea cu dolor munere eligendi, vix feugiat offendit cu. Ei primis bonorum ius. Saperet legimus est at.</p>

                            <p>Ut vero primis usu, ne vel enim deserunt. Ad nam simul elitr, vix ut alia iuvaret contentiones, vel te vocent latine.</p>
                        </td>
                    </tr>

                    <tr>
                        <td>1/14/2015</td>

                        <td>Reminder</td>

                        <td><p>Congue elaboraret ad mea, habeo sonet usu et, noster dicunt diceret his te. Agam dolore tacimates an nam. </p>
                        </td>
                    </tr>

                    <tr>
                        <td>1/5/2015</td>

                        <td>News</td>

                        <td><p>Chasem ipsum dolor sit amet, ei sea dolore signiferumque. </p>
                            <p>Vim in numquam volutpat, mea cu dolor munere eligendi, vix feugiat offendit cu. Ei primis bonorum ius. Saperet legimus est at.</p>
                        </td>
                    </tr>

                    <tr>
                        <td>11/30/2014</td>

                        <td>Reminder</td>

                        <td><p>Feugait docendi sed ex, altera quaerendum te mei. Erat clita euripidis ad nam.</p>
                        </td>
                    </tr>

                    <tr>
                        <td>10/29/2014</td>

                        <td>Reminder</td>

                        <td><p>Omnesque corrumpit pri ea. Ne vel legere populo recusabo.</p>
                        </td>
                    </tr>

                    <tr>
                        <td>9/22/2014</td>

                        <td>Reminder</td>

                        <td><p>An duo diceret commune interpretaris.</p>
                            <p>Vim in numquam volutpat, mea cu dolor munere eligendi, vix feugiat offendit cu. Ei primis bonorum ius. Saperet legimus est at.</p>

                            <p>Ut vero primis usu, ne vel enim deserunt. Ad nam simul elitr, vix ut alia iuvaret contentiones, vel te vocent latine.</p>
                            <p> Et nam malis ceteros definitionem, omnes recteque usu id. </p>
                             <p> Consul docendi ancillae eum ne, vel saepe timeam alterum ex, ex sit equidem praesent. Ut nec postea maiorum mandamus.</p>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>
