        <div id="popup-wrapper-tasks" style="background-color: #ccc;">
            <button id="addTaskButton">Add</button>
            <button>Complete</button>
            <table width="100%" class="display" id="example" cellspacing="0">
                <thead>

                    <tr>
                        <th><input type="checkbox"/></th>
                        <th>Priority</th>
                        <th>Due Date</th>
                        <th>Subject</th>
                        <th>Assigned To</th>
                        <th>Claimant</th>
                        <th>Injury Date</th>
                        <th>Created By</th>
                        <th>Create Date</th>
                        <th></th>
                        <th></th>

                    </tr>

                </thead>
                <tbody>

                    <tr style="color: red;font-weight: bold">
                        <td><input type="checkbox"/></td>
                        <td>1-High</td>

                        <td>May 23, 2015</td>

                        <td>Make Contact</td>

                        <td>Doe, Jane</td>

                        <td>Morgan, Ross</td>

                        <td>Feb 20, 2015</td>
                
                        <td>Smith, Joan</td>
                        <td>May 23, 2015</td>
                        <td><img src="~/Images/Edit.png" /></td>
                        <td><img src="~/Images/Delete.png" /></td>

                    </tr>

                    <tr style="color: red">
                        <td><input type="checkbox"/></td>
                        <td>1-High</td>

                        <td>May 23, 2015</td>

                        <td>Check in</td>

                        <td>Doe, Jane</td>

                        <td>Morgan, Ross</td>

                        <td>Feb 20, 2015</td>
                
                        <td>Smith, Joan</td>
                        <td>May 23, 2015</td>
                        <td><img src="~/Images/Edit.png" /></td>
                        <td><img src="~/Images/Delete.png" /></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td><input type="checkbox"/></td>
                        <td>2-Medium</td>

                        <td>Apr 2, 2015</td>

                        <td>Send Report</td>

                        <td>Doe, Jane</td>

                        <td>Morgan, Ross</td>

                        <td>Feb 20, 2015</td>
                
                        <td>Smith, Joan</td>
                        <td>May 20, 2015</td>
                        <td><img src="~/Images/Edit.png" /></td>
                        <td><img src="~/Images/Delete.png" /></td>
                    </tr>
                    <tr style="font-weight: bold">
                        <td><input type="checkbox"/></td>
                        <td>2-Medium</td>

                        <td>Apr 20, 2015</td>

                        <td>Update Record</td>

                        <td>Doe, Jane</td>

                        <td>Morgan, Ross</td>

                        <td>Feb 20, 2015</td>
                
                        <td>Smith, Joan</td>
                        <td>May 20, 2015</td>
                        <td><img src="~/Images/Edit.png" /></td>
                        <td><img src="~/Images/Delete.png" /></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox"/></td>
                        <td>2-Medium</td>

                        <td>Apr 2, 2015</td>

                        <td>Contact Doctor</td>

                        <td>Doe, Jane</td>

                        <td>Morgan, Ross</td>

                        <td>Feb 20, 2015</td>
                
                        <td>Smith, Joan</td>
                        <td>May 20, 2015</td>
                        <td><img src="~/Images/Edit.png" /></td>
                        <td><img src="~/Images/Delete.png" /></td>
                    </tr>
                </tbody>

            </table>
        </div>
